@model Subject
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@




<script>
    $(document).ready(function() {
        var error =  @((TempData["ErrorMessage"] != null).ToString().ToLower());
        if (error == true) {
            $('#infoModal1').modal('show');
        }
});
</script>
<div class="modal fade" id="infoModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="font-size:large; color: red">
                    <span class="icon-container">
                        <svg class="bi bi-exclamation-circle-fill text-danger" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg>
                    </span>
                    <b>@TempData["ErrorMessage"]</b>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#007bff;">OK</button>
            </div>

        </div>
    </div>
</div>

<h1 style="text-align:left; color: black;"> <i class="bi bi-person" style="color:black;"></i> Subject Screening</h1>
<p style= "font-size: 14px">Protocol Name: @TempData.Peek("StudyName")</p>

<br />


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet" />


    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker({
                format: "dd/M/yyyy",
                todayHighlight: true,
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#datepicker1").datepicker({
                format: "dd/M/yyyy",
                todayHighlight: true,
            });
        });
    </script>

    <script>
        $("#birthYearInput").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years"
        });
    </script>
}

<form id="myForm" asp-action="ScreenReg" method="post" onsubmit="return validateForm();">
    <label id="Errormessage" style="font-size: 13px; display:none; color:red">Please complete all required fields</label>
    <table>
        <tr>
            <td>
                <div class="form-group">
                    <label>Site ID</label> <br />
                    <input class="CustomInput" type="text" value="@ViewBag.siteid" name="SiteID" style="width:500px; padding:.375rem .75rem;" readonly />

                </div>

                <div class="form-group">
                    <label>Screening Number <span id="Extext">(Please enter the last 3 digits of the subject ID)</span><span style="color: red;"> *</span></label> <span id="SubjIDError" class="text-danger" style="display: none;"></span><br />
                    <input id="SubjID" class="CustomInput" type="text" asp-for="@Model.SUBJID" style="width:500px; padding:.375rem .75rem;" required pattern="[0-9]{3}" title="Please enter a 3-digit number." />
                   

                </div>

                <div class="form-group">
                    <label>Year of Birth<span style="color: red;"> *</span></label><span id="BRTHError" class="text-danger" style="display: none;"> Subject must be at least 18 years old.</span><br />
                    <input id="birthYearInput" type="text" class="CustomInput" asp-for="@Model.BRTHDTC" style="width:500px; padding:.375rem .75rem;" required />
                </div>

                <div class="form-group">
                    <label>Sex<span style="color: red;"> *</span></label> <br />
                    <select id="genderSelect" class="CustomInput" asp-for="@Model.SEX" style="width: 500px; padding: .375rem .75rem" required>
                        <option value=""></option>
                        <option value="Female">Female</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Informed Consent Date<span style="color: red;"> *</span></label><span id="IcdtcError" class="text-danger" style="display: none;"></span><br />
                    <input class="CustomInput" type="text" id="datepicker" asp-for="@Model.ICDTC" style="width:500px; padding:.375rem .75rem;" />
                </div>

                @*<div class="form-group">
                    <label>Screen Date<span style="color: red;"> *</span></label> <span id="ScrdtcError" class="text-danger" style="display: none;">The Screen date is after current date.</span><br />
                    <input class="CustomInput" type="text" id="datepicker1" asp-for="@Model.SCRNDTC" style="width:500px; padding:.375rem .75rem;" required />
                </div>*@
            </td>
        </tr>
    </table>

    <br />
    <br />
    <!---
        <button type="button" class="btn" data-toggle="modal" data-target="#loginModal" style="background-color: #e95420; color: white;">Submit</button>-->
    <button type="button" class="btn" id="modalButton" style="background-color: #e95420; color: white;">Submit</button>
    <input type="button" class="btn" value="Back" onclick="window.location='@Url.Action("ScreenHome","Screen")'" style="background-color: #007bff; color: White;" />

    <!--Credential Model-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Please enter User Name and Password </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="loginForm">
                        <div class="form-group1">
                            <label for="username">Username<span style="color: red;"> *</span></label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="form-group1">
                            <label for="password">Password<span style="color: red;"> *</span></label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: #007bff; color: White;" data-dismiss="modal">Close</button>
                    <button type="submit" form="myForm" class="btn" style="background-color: #e95420; color: white;">Submit</button>
                </div>
            </div>
        </div>
    </div>


</form>

<script>
    function validateForm() {
        var isValid = true;


        $(".form-group input[type='text']").each(function () {
            if ($(this).val() === "") {
                isValid = false;
                $(this).addClass("is-invalid");
            } else {
                $(this).removeClass("is-invalid");
            }
        });


        $(".form-group select").each(function () {
            if ($(this).val() === "") {
                isValid = false;
                $(this).addClass("is-invalid");

            } else {
                $(this).removeClass("is-invalid");

            }
        });

        var subjIDValue = $("#SubjID").val();
        if (!subjIDValue) {
            isValid = false;
            $("#SubjID").addClass("is-invalid");
            /*$("#ScrdtcError").show().text("Screen date is required.");*/
        }
        else {
            if (!/^\d{3}$/.test(subjIDValue)) {
                isValid = false;
                count = 1;

                $("#SubjID").addClass("is-invalid");
                $("#SubjIDError").show().text(" Please enter a 3-digit number."); // Show the error message
                $("#Extext").hide();
            } else {
                $("#SubjID").removeClass("is-invalid");
                $("#SubjIDError").hide(); // Hide the error message
                $("#Extext").show();

            }
        }
        var birthYear = $("#birthYearInput").val();
        var currentYear = new Date().getFullYear();

        if (!birthYear || isNaN(birthYear) || birthYear < 1900 || birthYear > currentYear) {
            isValid = false;
            $("#birthYearInput").addClass("is-invalid");
            /* $("#BRTHError").show();*/ // Show the error message
        } else {
            var age = currentYear - birthYear;

            if (age < 18) {
                isValid = false;
                $("#birthYearInput").addClass("is-invalid");
                $("#BRTHError").show().text(" Subject must be at least 18 years old."); // Show the specific error message
            } else {
                $("#birthYearInput").removeClass("is-invalid");
                $("#BRTHError").hide(); // Hide the error message
            }
        }

        //var screenDateStr = $("#datepicker1").val();
        //if (!screenDateStr) {
        //    isValid = false;
        //    $("#datepicker1").addClass("is-invalid");
        //    /*$("#ScrdtcError").show().text("Screen date is required.");*/
        //} else {
        //    var screenDate = new Date(screenDateStr);
        //    var currentDate = new Date();

        //    if (screenDate > currentDate) {
        //        isValid = false;
        //        $("#datepicker1").addClass("is-invalid");
        //        $("#ScrdtcError").show().text(" Date cannot be in the future.");
        //    } else {
        //        $("#datepicker1").removeClass("is-invalid");
        //        $("#ScrdtcError").hide();
        //    }
        //}

        var icdtDateStr = $("#datepicker").val();
        //if (!icdtDateStr) {
        //    isValid = false;
        //    $("#datepicker").addClass("is-invalid");
        //    /*$("#ScrdtcError").show().text("Screen date is required.");*/
        //} 
        if (icdtDateStr) {
            var ICDTDate = new Date(icdtDateStr);
            var currentDate = new Date();

            if (ICDTDate > currentDate) {
                isValid = false;
                $("#datepicker").addClass("is-invalid");
                $("#IcdtcError").show().text(" Date cannot be in the future.");
            } 
            else {
                $("#datepicker").removeClass("is-invalid");
                $("#IcdtcError").hide();
            }
        } else {
            $("#IcdtcError").hide();
        }
        if (!isValid) {
            /*alert('Please fill in all required fields.');*/
            $("#Errormessage").show()
        }
        else {
            $("#Errormessage").hide()
        }
        return isValid;
    }
</script>

@*<script>
        function validateForm() {
            var isValid = true;
            var count = 0;

            // Check if the required fields are empty
            if ($("#birthYearInput").val() === "") {
                isValid = false;
                $("#birthYearInput").addClass("is-invalid");
            } else {
                $("#birthYearInput").removeClass("is-invalid");
            }

            if ($("#datepicker").val() === "") {
                isValid = false;
                $("#datepicker").addClass("is-invalid");
            } else {
                $("#datepicker").removeClass("is-invalid");
            }

            if ($("#datepicker1").val() === "") {
                isValid = false;
                $("#datepicker1").addClass("is-invalid");
            } else {
                $("#datepicker1").removeClass("is-invalid");
            }

            var subjIDValue = $("#SubjID").val();
            if (!/^\d{3}$/.test(subjIDValue)) {
                isValid = false;
                count = 1;

                $("#SubjID").addClass("is-invalid");
                $("#SubjIDError").show(); // Show the error message
            } else {
                $("#SubjID").removeClass("is-invalid");
                $("#SubjIDError").hide(); // Hide the error message
            }
            var genderValue = $("#genderSelect").val();
            console.log("Gender value:", genderValue);
            if ($("#genderSelect").val() === "") {
                isValid = false;
                $("#genderSelect").addClass("is-invalid");
            } else {

                $("#genderSelect").removeClass("is-invalid");
            }

            $(".form-group input[type='text'], .form-group select").each(function () {
                if ($(this).val() !== "") {
                    $(this).removeClass("is-invalid");
                }
            });
            console.log("count:", count);
            if (!isValid ) {
                alert('Please fill in all required fields.');
            }
            console.log("isValid:", isValid);
            return isValid;
        }
    </script>*@

<script>
    $(document).ready(function () {
        $("#modalButton").click(function () {
            if (validateForm()) {
                $('#loginModal').modal('show');
            }
        });
    });
</script>

<style>
    .form-group {
        display: inline-block;
        margin-right: 10px;
    }

    .is-invalid {
        border: 2px solid black !important; /* Add !important to ensure the style is applied */
    }

    .form-group1 {
        display: inline-block;
        margin-right: 10px;
    }

    .custom-tooltip {
        background-color: #f8d7da !important; /* Example color */
    }
</style>








