@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IPReporting
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1 style="color: black"> Site ID: @ViewBag.SiteID </h1>
<h1 style="color: black"> Shipment ID:  @ViewBag.KITSET </h1>
<hr />
<br />
@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
   
    <script>
    $(document).ready(function() {
        var error =  @((TempData["ErrorMessage"] != null).ToString().ToLower());
        if (error == true) {
            $('#infoModal1').modal('show');
        }
});
    </script>
}
<div class="modal fade" id="infoModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="font-size:large; color: red">
                    <span class="icon-container">
                        <svg class="bi bi-exclamation-circle-fill text-danger" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg>
                    </span>
                    <b>@TempData["ErrorMessage"]</b>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#007bff;">OK</button>
            </div>

        </div>
    </div>
</div>
    
    <div class="search-table-outter wrapper" >
        <table class="table table-striped" id="Table">
            <thead>
                <tr>
                    <th style="display:none">UPLOADKEY</th>
                    <th>File Name</th>
                    <th>File Type</th>
                    <th>Uploaded By</th>
                    <th>Uploaded Date</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.IPFiles.Count(); i++)
                {
                    <tr>
                        <td style="display:none">@Model.IPFiles[i].UPLOAD_KEY</td>
                        <td>@Model.IPFiles[i].FILENAME</td>
                        <td>@Model.IPFiles[i].TYPEUL</td>
                        <td>@Model.IPFiles[i].ADDUSER</td>
                        <td>@Model.IPFiles[i].ADDDATE</td>
                        <td>
                            <form action="Download">
                                <input type="submit" class="btn" value="Download" style="background-color: #e95420; color: white;" />
                                <input hidden readonly value="@Model.IPFiles[i].UPLOAD_KEY" name="UPLOAD_KEY" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <input type="button" class="btn" value="Back" onclick="window.location='@Url.Action("ReceiveIPTabs","SupplyManagement")'" style="background-color: #007bff; color: White;" />


    <script>
        $(document).ready(function () {
            $('#Table').DataTable({
                "language": {
                    search: '<span class="input-group-text" id="basic-addon1" style="width:33px;height:36px;display:inline-block;padding-right:27px;position:relative;left:6px;top:1px;border-radius: 5px 0px 0px 5px;"><svg style="position:relative; bottom:2px;"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg></span>',
                    searchPlaceholder: 'Type to Search'
                },

            })
        });
    </script>


<style>
    .form-group {
        display: inline-block;
        margin-right: 10px;
    }

    .form-group1 {
        display: inline-block;
        margin-right: 10px;
    }

    .CustomInput {
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        width: 500px;
    }
</style>



