@model IPList

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                localStorage.setItem('studyTab', $(e.target).attr('href'));
            });
            var studyTab = localStorage.getItem('studyTab');
            if (studyTab) {
                $('#StudyTabs a[href="' + studyTab + '"]').tab('show');
            }
        });
    </script>


</head>


<h1 style="color: #e95420;"> <i class="bi bi-truck" style="color:black;"></i> Supply Management: Receive IP </h1>

<ul class="nav nav-tabs" id="StudyTabs">

    <li class="nav-item" style="font-weight:500;">
        <a class="nav-link active" data-toggle="tab" href="#kit">Shipped Kits</a>
    </li>

    <li class="nav-item" style="font-weight:500;">
        <a class="nav-link" data-toggle="tab" href="#reciv">Received kits</a>
    </li>

    <li class="nav-item" style="font-weight:500;">
        <a class="nav-link" data-toggle="tab" href="#damage">Unacceptable kits</a>
    </li>

</ul>

<div class="tab-content">
    <div id="kit" class="tab-pane fade show active">

        <br />
        <button class="btn" type="button" style="background-color: #008000; color: #fff;" onclick="window.location='@Url.Action("ShippedKits","SupplyManagement")'"><img src="~/images/excel-3-24.png" /> &nbsp;Download</button>

        <br /><br />
        <div class="search-table-outter wrapper">
            <table class="table table-striped" id="aeTable">
                <thead>
                    <tr>
                        <th style="display: none;">KITKEY</th>
                        <th>Site ID</th>
                        <th>Kit Number</th>
                        <th>Status</th>
                        <th>Sent Date</th>
                        <th>Sent by</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.IPStatus.Count(); i++)
                    {
                        <tr>
                            <td style="display: none;"><input type="hidden" value="@Model.IPStatus[i].KITKEY"></td>
                            <td>@Model.IPStatus[i].SITEID</td>
                            <td>@Model.IPStatus[i].KitNumber</td>
                            <td>@Model.IPStatus[i].KITSTAT</td>
                            <td>@Model.IPStatus[i].SENDDATEstr</td>
                            <td>@Model.IPStatus[i].SENDBY</td>

                            <td>

                                <div class="dropdown" id="tableOptions">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" style="background-color:transparent; color:black; border:none; content:none; font-size:large;">
                                        ⋮

                                    </button>
                                    <div class="dropdown-menu" style="background-color:white; align-content:center;">
                                        <form action="UpdateAsRecieve">
                                            <input type="submit" class="btn" value="Mark As Received" style="border:none; background-color:transparent; color:#e95420;" />
                                            <input hidden readonly value="@Model.IPStatus[i].KITKEY" name="KITKEY" />
                                            <input hidden readonly value="@Model.IPStatus[i].KitNumber" name="KitNumber" />
                                            <input hidden readonly value="@Model.IPStatus[i].TreatmentGroup" name="TreatmentGroup" />

                                            <br />
                                            <input type="submit" value="Mark As Unacceptable" formaction="UpdateAsDamage" class="btn" style="color:#e95420; background-color:transparent; border:none; align-content:center" onclick="return confirm('Warning this will mark kit damage. Are you sure you want to continue?')" />
                                            <input type="submit" value="Receipt Reporting" formaction="ReceiptReporting" class="btn" style="color:#e95420; background-color:transparent; border:none; align-content:center" />
                                        </form>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div id="reciv" class="tab-pane fade">

        <br />
        <button class="btn" type="button" style="background-color: #008000; color: #fff;" onclick="window.location='@Url.Action("ReceivedKits","SupplyManagement")'"><img src="~/images/excel-3-24.png" /> &nbsp;Download</button>

        <br /><br />
        <div class="search-table-outter wrapper">
            <table class="table table-striped" id="aeTable1">
                <thead>
                    <tr>
                        <th style="display: none;">KITKEY</th>
                        <th>Site ID</th>
                        <th>Kit Number</th>
                        <th>Status</th>
                        <th>Sent Date</th>
                        <th>Sent by</th>
                        <th>Received Date</th>
                        <th>Received by:</th>


                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.ShipIP.Count(); i++)
                    {
                        <tr>
                            <td style="display: none;"><input type="hidden" value="@Model.ShipIP[i].KITKEY"></td>
                            <td>@Model.ShipIP[i].SITEID</td>
                            <td>@Model.ShipIP[i].KitNumber</td>
                            <td>@Model.ShipIP[i].KITSTAT</td>
                            <td>@Model.ShipIP[i].SENDDATEstr</td>
                            <td>@Model.ShipIP[i].SENDBY</td>
                            <td>@Model.ShipIP[i].RECVDDATEstr</td>
                            <td>@Model.ShipIP[i].RECVDBY</td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="damage" class="tab-pane fade">

        <br />
        <button class="btn" type="button" style="background-color: #008000; color: #fff;" onclick="window.location='@Url.Action("DamagedKits","SupplyManagement")'"><img src="~/images/excel-3-24.png" /> &nbsp;Download</button>

        <br /><br />
        <div class="search-table-outter wrapper">
            <table class="table table-striped" id="aeTable2">
                <thead>
                    <tr>
                        <th style="display: none;">KITKEY</th>
                        <th>Site ID</th>
                        <th>Kit Number</th>
                        <th>Treatment Group</th>
                        <th>Status</th>
                        <th>Sent Date</th>
                        <th>Sent by</th>
                        <th>Damaged Date</th>
                        <th>Damage Reported by:</th>


                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.DamageKit.Count(); i++)
                    {
                        <tr>
                            <td style="display: none;"><input type="hidden" value="@Model.DamageKit[i].KITKEY"></td>
                            <td>@Model.DamageKit[i].SITEID</td>
                            <td>@Model.DamageKit[i].KitNumber</td>
                            <td>@Model.DamageKit[i].TreatmentGroup</td>
                            <td>@Model.DamageKit[i].KITSTAT</td>
                            <td>@Model.DamageKit[i].SENDDATEstr</td>
                            <td>@Model.DamageKit[i].SENDBY</td>
                            <td>@Model.DamageKit[i].RECVDDATEstr</td>
                            <td>@Model.DamageKit[i].RECVDBY</td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


    

 @section scripts{
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                $('#aeTable').DataTable({
                    "language": {
                        search: '<span class="input-group-text" id="basic-addon1" style="width:33px;height:36px;display:inline-block;padding-right:27px;position:relative;left:6px;top:1px;border-radius: 5px 0px 0px 5px;"><svg style="position:relative; bottom:2px;"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg></span>',
                        searchPlaceholder: 'Type to Search'
                    },

                })
            });
        </script>

        <script>
            $(document).ready(function () {
                $('#aeTable1').DataTable({
                    "language": {
                        search: '<span class="input-group-text" id="basic-addon1" style="width:33px;height:36px;display:inline-block;padding-right:27px;position:relative;left:6px;top:1px;border-radius: 5px 0px 0px 5px;"><svg style="position:relative; bottom:2px;"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg></span>',
                        searchPlaceholder: 'Type to Search'
                    },

                })
            });
        </script>

        <script>
            $(document).ready(function () {
                $('#aeTable2').DataTable({
                    "language": {
                        search: '<span class="input-group-text" id="basic-addon1" style="width:33px;height:36px;display:inline-block;padding-right:27px;position:relative;left:6px;top:1px;border-radius: 5px 0px 0px 5px;"><svg style="position:relative; bottom:2px;"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg></span>',
                        searchPlaceholder: 'Type to Search'
                    },

                })
            });
        </script>
    }

    <style>

        /* bootstrap hack: fix content width inside hidden tabs */
        .tab-content > .tab-pane:not(.active),
        .pill-content > .pill-pane:not(.active) {
            display: block;
            height: 0;
            overflow-y: hidden;
        }
        /* bootstrap hack end */
    </style>
