@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Subject>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContext

<script>
    $(document).ready(function() {
        var error =  @((TempData["ErrorMessage"] != null).ToString().ToLower());
        if (error == true) {
            $('#infoModal1').modal('show');
        }
});
</script>
<div class="modal fade" id="infoModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="font-size:large; color: red">
                    <span class="icon-container">
                        <svg class="bi bi-exclamation-circle-fill text-danger" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg>
                    </span>
                    <b>@TempData["ErrorMessage"]</b>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#007bff;">OK</button>
            </div>

        </div>
    </div>
</div>


<h1 style="color: #e95420;">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="bi bi-prescription2" viewBox="0 0 16 16">
        <path d="M7 6h2v2h2v2H9v2H7v-2H5V8h2V6Z" />
        <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v10.5a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 14.5V4a1 1 0 0 1-1-1V1Zm2 3v10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V4H4ZM3 3h10V1H3v2Z" style="color: black;" />
    </svg> Subsequent Dispensation
</h1>
<p style="font-size: 14px">Protocol Name: @TempData.Peek("StudyName")</p>


<div id="rand">


    @*<button class="btn" type="button" style="background-color: #008000; color: #fff;" onclick="window.location='@Url.Action("ReportProblemExcel","ProjectManagement")'"><img src="~/images/excel-3-24.png" /> &nbsp;Download</button>*@


    <div class="search-table-outter wrapper">
        <table class="table table-striped" id="aeTable">
            <thead>
                <tr>
                    <th style="display: none;">ROWKEY</th>
                    <th style="display: none;">SPKEY</th>
                    <th>Site ID</th>
                    <th>Subject ID</th>
                    <th>Treatment</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model)
                {
                    <tr>
                        <td style="display: none;">@subject.ROW_KEY</td>
                        <td style="display: none;">@subject.SPKEY</td>
                        <td>@subject.SITEID</td>
                        <td>@subject.SUBJID</td>
                        <td>@subject.ARM</td>
                        <td>
                            <div class="dropdown" id="tableOptions">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" style="background-color:transparent; color:black; border:none; content:none; font-size:large;">
                                    ⋮

                                </button>
                                <div class="dropdown-menu" style="background-color:white; align-content:center;">
                                    @if ((_httpContext.HttpContext.Session.GetString("suserid") == "sidran") || (_httpContext.HttpContext.Session.GetString("sesCenter") != "(All)"))
                                    {
                                        <form action="SubDispenseIP">

                                            <input type="submit" class="btn" value="Dispense IP" style="border:none; background-color:transparent; color:#e95420;" />


                                            <input hidden readonly value="@subject.ROW_KEY" name="ROW_KEY" />
                                            <input hidden readonly value="@subject.SUBJID" name="SUBJID" />
                                            <input hidden readonly value="@subject.SITEID" name="SITEID" />
                                            <input hidden readonly value="@subject.SPKEY" name="SPKEY" />

                                        </form>
                                    }
                                    else
                                    {
                                        <input type="submit" class="btn" value="Dispense IP" style="border: none; background-color: transparent; color: #e95420; pointer-events: none; opacity: 0.6;" />
                                    }
                                </div>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#aeTable').DataTable({
                "language": {
                    search: '<span class="input-group-text" id="basic-addon1" style="width:33px;height:36px;display:inline-block;padding-right:27px;position:relative;left:6px;top:1px;border-radius: 5px 0px 0px 5px;"><svg style="position:relative; bottom:2px;"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg></span>',
                    searchPlaceholder: 'Type to Search'
                },

            })
        });
    </script>

}

