@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="text-align:center">Study Dashboard</h1>
    <p>Welcome to the WebView RTSM</p>

</div>



@model List<Subject>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContext
<!DOCTYPE html>

<head>

    <meta charset="utf-8" />



</head>
<body>
    @if (_httpContext.HttpContext.Session.GetString("suserid") == null)
    {
        <a href="/CreateSesModel?SPKey=209&UID=sidran">CreateSes sidran</a>
        <br />
        <a href="/CreateSesModel?SPKey=209&UID=test1&tst1=tst3">CreateSes test1</a>
        <br />
    }

    @if (_httpContext.HttpContext.Session.GetString("suserid") != null)
    {
        <div class="row">
            @if ((_httpContext.HttpContext.Session.Get("sesTrialsStatusReports") != null))
            {
                <div class="col-lg-3">

                    <div class="card mb-3 shadow-sm" style="display:inline-block">
                        <div class="card-header">  <b>Subject Status</b></div>
                        <div class="card-body">
                            <div class="card-text">
                                View or download a comprehensive report detailing the status of subjects.
                            </div>

                            <br />
                            <a href="@Url.Action("SubjectReport", "Reports")" class="btn" style="margin-bottom: 4px;" data-bs-toggle="tooltip" data-placement="Top" title="View Subject Status Report">
                                <i class="bi bi-search"></i>
                            </a>&nbsp;

                            <a href="@Url.Action("SubjectReportExcel", "ProjectManagement")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="Download Report">
                                <i class="bi bi-download"></i>
                            </a>

                            @*<button onclick="window.location='@Url.Action("SubjectReport", "Reports")'" class="btn" style="margin-bottom:4px;">  View</button> &nbsp;
                                <button onclick="window.location='@Url.Action("SubjectReportExcel", "ProjectManagement")'" class="btn" style="background-color:#008000;"><img src="~/images/excel-3-24.png" /> &nbsp; Download</button>*@

                        </div>
                    </div> &nbsp;
                    @if (_httpContext.HttpContext.Session.Get("sesVPERAND") != null)
                    {
                        <div class="card mb-3 shadow-sm" style="display:inline-block">
                            <div class="card-header">  <b>Subject Visits</b></div>
                            <div class="card-body">
                                <div class="card-text">
                                    View or download a comprehensive report that list all subjects and their visits.
                                </div>
                                <br />
                                <a href="@Url.Action("SubjectVisitReport", "Reports")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="View Subject Visit Report">
                                    <i class="bi bi-search"></i>
                                </a>&nbsp;

                                <a href="@Url.Action("SubjectVisitReportExcel", "ProjectManagement")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="Download Report">
                                    <i class="bi bi-download"></i>
                                </a>



                            </div>

                        </div>
                    }&nbsp;
                    @if (_httpContext.HttpContext.Session.Get("sesVPERAND") != null)
                    {
                        <div class="card mb-3 shadow-sm" style="display:inline-block">
                            <div class="card-header">  <b>Site IP</b></div>
                            <div class="card-body">
                                <div class="card-text">
                                    View or Download a report that shows the comperhensive details of IP at the Sites.
                                </div>
                                <br />
                                <a href="@Url.Action("SiteIPReport", "Reports")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="View Site IP Report">
                                    <i class="bi bi-search"></i>
                                </a>&nbsp;

                                <a href="@Url.Action("SiteIPReportExcel", "ProjectManagement")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="Download Report">
                                    <i class="bi bi-download"></i>
                                </a>


                            </div>
                        </div>
                    }&nbsp;
                    @if ((_httpContext.HttpContext.Session.GetString("sesCenter") == "(All)") && (_httpContext.HttpContext.Session.Get("sesProjectManagement") != null))
                    {
                        <div class="card mb-3 shadow-sm" style="display:inline-block">
                            <div class="card-header">  <b>IP Depot</b></div>
                            <div class="card-body">
                                <div class="card-text">
                                    View or Download a report that shows the comperhensive details of IP at the Depot.
                                </div>
                                <br />
                                <a href="@Url.Action("DepotIPReport", "Reports")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="View IP Depot Report">
                                    <i class="bi bi-search"></i>
                                </a>&nbsp;

                                <a href="@Url.Action("DepotIPReportExcel", "ProjectManagement")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="Download Report">
                                    <i class="bi bi-download"></i>
                                </a>


                            </div>
                        </div>
                    }
                    &nbsp;
                </div>
            }
            <div class="col-lg-9" style="top: 0px; position: relative;">
                @if ((_httpContext.HttpContext.Session.GetString("sesCenter") != "IP") && (_httpContext.HttpContext.Session.Get("sesIPBiometrics") == null))
                {
                    <div id="graph">

                        <table class="table barChart data-table" hidden>
                            <thead>
                                <tr>
                                    <th>Site ID</th>
                                    <th>Screened</th>
                                    <th>Screen Failed</th>
                                    <th>Randomized</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var subject in Model)
                                {
                                    <tr>

                                        <td>@subject.SITEID</td>
                                        <td>@subject.TotalScreenNumber</td>
                                        <td>@subject.TotalScreenFailNumber</td>
                                        <td>@subject.TotalRandomizationNumber</td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div id="chart_canvas" style=" width: 65%;"></div>
                        <br />
                        <br />
                        <div class="container-md">
                            <table class="table table-striped">
                                <thead>

                                    <tr>
                                        <th>Site ID</th>
                                        <th>Screened</th>
                                        <th>Screen Failed</th>
                                        <th>Randomized</th>
                                        <th>Expected Randomized Subjects</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var subject in Model)
                                    {
                                        <tr>

                                            <td>@subject.SITEID</td>
                                            <td>@subject.TotalScreenNumber</td>
                                            <td>@subject.TotalScreenFailNumber</td>
                                            <td>@subject.TotalRandomizationNumber</td>
                                            @if (subject == Model.First())
                                            {
                                                <td>@ViewBag.TotalRandomization</td>
                                            }



                                        </tr>
                                    }
                                    <tr>
                                        <th>Total Randomized Subjects</th>
                                        <th></th>
                                        <th></th>
                                        <th>@ViewBag.TotalNumber</th>
                                        <th>@ViewBag.TotalNumber/@ViewBag.TotalRandomization</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                }


            </div>
        </div>

    }




    @*@if ((_httpContext.HttpContext.Session.GetString("suserid") != null) && (_httpContext.HttpContext.Session.GetString("sesCenter") != "IP") && (_httpContext.HttpContext.Session.Get("sesIPBiometrics") == null))
               {
            <div id="graph">

                <table class="table barChart data-table" hidden>
                    <thead>

                        <tr>
                            <th>Site ID</th>
                            <th>Screened</th>
                            <th>Screen Failed</th>
                            <th>Randomized</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subject in Model)
            {
                            <tr>

                                <td>@subject.SITEID</td>
                                <td>@subject.TotalScreenNumber</td>
                                <td>@subject.TotalScreenFailNumber</td>
                                <td>@subject.TotalRandomizationNumber</td>


                            </tr>
                        }
                    </tbody>
                </table>
                <div id="chart_canvas"></div>
                <br />
                <br />
                <div class="container">
                    <table class="table table-striped">
                        <thead>

                            <tr>
                                <th>Site ID</th>
                                <th>Screened</th>
                                <th>Screen Failed</th>
                                <th>Randomized</th>
                                <th>Expected Randomized Subjects</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subject in Model)
            {
                            <tr>

                                <td>@subject.SITEID</td>
                                <td>@subject.TotalScreenNumber</td>
                                <td>@subject.TotalScreenFailNumber</td>
                                <td>@subject.TotalRandomizationNumber</td>
                                @if (subject == Model.First())
                                {
                                    <td>@ViewBag.TotalRandomization</td>
                                }



                            </tr>
                            }
                            <tr>
                                <th>Total Randomized Subjects</th>
                                <th></th>
                                <th></th>
                                <th>@ViewBag.TotalNumber</th>
                                <th>@ViewBag.TotalNumber/@ViewBag.TotalRandomization</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        }*@

    @if ((_httpContext.HttpContext.Session.Get("sesTrialsStatusReports") != null))
    {
        <h3 style="text-align:center">Reports</h3>
        <table class="table table-striped" id="Table2">
            <thead style="background-color: white; color: black">
                <tr>
                    <th>Reports</th>

                    <th>Subject Status</th>
                    <th>Subject Visits</th>
                    <th>Site IP</th>
                    <th>IP Depot</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Action</td>
                    <td>
                        <a href="@Url.Action("SubjectReport", "Reports")" class="btn" style="margin-bottom: 4px;" data-bs-toggle="tooltip" data-placement="Top" title="View Subject Status Report">
                            <i class="bi bi-search"></i>
                        </a>&nbsp;

                        <a href="@Url.Action("SubjectReportExcel", "ProjectManagement")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="Download Report">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("SubjectVisitReport", "Reports")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="View Subject Visit Report">
                            <i class="bi bi-search"></i>
                        </a>&nbsp;

                        <a href="@Url.Action("SubjectVisitReportExcel", "ProjectManagement")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="Download Report">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("SiteIPReport", "Reports")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="View Site IP Report">
                            <i class="bi bi-search"></i>
                        </a>&nbsp;

                        <a href="@Url.Action("SiteIPReportExcel", "ProjectManagement")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="Download Report">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("DepotIPReport", "Reports")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="View IP Depot Report">
                            <i class="bi bi-search"></i>
                        </a>&nbsp;

                        <a href="@Url.Action("DepotIPReportExcel", "ProjectManagement")" class="btn" style="margin-bottom: 4px;" data-toggle="tooltip" data-placement="Top" title="Download Report">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>
    }

    </body>

@section scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/chartinator/js/chartinator.js"></script>
    <script>
            jQuery(function ($) {

                //  Bar Chart Example
                // Use any jQuery selector to select the chart canvas(es)
                var chart1 = $('#chart_canvas').chartinator({

                    // Custom Options ------------------------------------------------------

                    // The Google Sheet key
                    // The id of the Google sheet taken from the public url of the Sheet
                    // Default: false
                    //   googleSheetKey: '1kg6f4UVJPpT45D7ucAE8lhsVp8vIUl7bSMM442_DrhI',

                    // The data columns js array
                    // An array of object literals that define each column
                    // Default: false
                    //columns: [
                    //    {label: 'Country', type: 'string'},
                    //    {label: 'Students', type: 'number'},
                    //    {role: 'tooltip', type: 'string'}],

                    // Column indexes array - An array of column indexes defining where
                    // the data will be inserted into any existing data extracted
                    // from an HTML table or Google Sheet
                    // Default: false - js data array columns replace any existing columns
                    // Note: when inserting more than one column be sure to
                    // increment index number to account for previously inserted indexes
                    //colIndexes: [2],

                    // Rows - The rows data-array
                    // If colIndexes array has values the row data will be inserted
                    // into the columns defined in the colindexes array. Otherwise
                    // the row data will be appended to any existing row data extracted
                    // from an HTML table or Google Sheet
                    // Default: false
                    //rows: [
                    //  ['China', 18, '2013 - 18'],
                    //  ['Japan', 12, '2013 - 12'],
                    //  ['Russia', 10, '2013 - 10']],

                    // The jQuery selector of the HTML table to extract the data from.
                    // Default: false - Checks if the element this plugin
                    // is applied to is an HTML table
                    tableSel: '.barChart',


                    // Ignore row indexes array - An array of row index numbers to ignore
                    // Default: []
                    // Note: Only works on data extracted from HTML tables or Google Sheets
                    // The headings row is index 0
                    //ignoreRow: [6,8],

                    // Ignore column indexes array - An array of column indexes to ignore
                    // Default: []
                    // Note: Only works when extracting data from HTML tables or Google Sheets


                    // Transpose data Boolean - swap columns and rows
                    // Default: false
                    // Note: Only works on data extracted from HTML tables or Google Sheets
                    //transpose: false,

                    // The chart type - String
                    // Derived from the Google Charts visualization class name
                    // Default: 'BarChart'
                    // Use TitleCase names. eg. BarChart, PieChart, ColumnChart, Calendar, GeoChart, Table.
                    // See Google Charts Gallery for a complete list of Chart types
                    // https://developers.google.com/chart/interactive/docs/gallery
                    chartType: 'BarChart',


                    // The annotation concatenation
                    // Defines a string for concatenating a custom annotation.
                    // Keywords: 'domain', 'data', 'label'
                    // The keywords will be replaced with current values
                    // 'domain': the primary axis value,
                    // 'data': the data value,
                    // 'label': the column title
                    // Default: false - use Google Charts annotation defaults
                    // Note: Only works when extracting data from HTML tables or Google Sheets.
                    // Not supported on pie, geo, calendar charts
                    //  annotationConcat: 'label: data',

                    annotationConcat: false,


                    // The chart aspect ratio custom option - width/height
                    // Used to calculate the chart dimensions relative to the width or height
                    // this is overridden if the Google Chart's height and width options have values
                    // Suggested value: 1.25
                    // Default: false - not used

                    chartAspectRatio: 3.0,

                    // Google Bar Chart Options
                    barChart: {

                        hAxis: {
                            format: '#'
                        },

                        // Width of chart in pixels - Number
                        // Default: automatic (unspecified)
                        width: null,

                        // Height of chart in pixels - Number
                        // Default: automatic (unspecified)
                        //height: 400,

                        chartArea: {
                            left: "5%",
                            top: "30",
                            width: "80%",
                            height: "65%"
                        },

                        // The font size in pixels - Number
                        // Default: false - Use Google Charts defaults
                        //   fontSize: 14,

                        // Font-family name - String
                        // Default: The body font-family
                        // fontName: 'Roboto',

                        // Chart Title - String
                        // Default: Table caption.
                        title: 'Subjects Statistics',

                        titleTextStyle: {

                            // The font size in pixels - Number
                            // Or use css selectors as keywords to assign font sizes from the page
                            // For example: 'body'
                            // Default: false - Use Google Charts defaults
                            fontSize: 20
                            //false
                        },
                        legend: {

                            // Legend position - String
                            // Options: bottom, top, left, right, in, none.
                            // Default: 'bottom'
                            position: 'bottom'
                        },

                        // Array of colours
                        // colors: ['#3691ff', '#8ff7a1', '#cc9df5', "#f72f2f", "#f7c82f", "#2f9af7", "#fa50cf"],

                        // Stack values within a bar or column chart - Boolean
                        // Default: false.
                        isStacked: false,
                        tooltip: {

                            // Shows tooltip with values on hover - String
                            // Options: focus, none.
                            // Default: focus
                            trigger: 'focus'
                        }
                    },

                    // Show table as well as chart - String
                    // Options: 'show', 'hide', 'remove'
                    showTable: 'hide'
                });
            });
    </script>

}


@*@<link href="~/js/chartinator/css/styles.css" rel="stylesheet" />*@




<style>
    #name {
    }

    #aeTable1 {
        margin-left: auto;
        margin-right: auto;
    }

    thead {
        background: #4372d1;
        color: white;
    }

    .container {
        max-width: 90%;
    }
</style>
