@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Inventory>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>

</head>
<h1 style="color: black"> Inventory </h1>
<p style="font-size: 14px">Protocol Name: @TempData.Peek("StudyName")</p>



<div id="rand">

    <br />
    <div class="search-table-outter wrapper">
        <table class="table table-striped" id="aeTable">
            <thead>
                <tr>
                    <th>Site ID</th>
                    <th>Shipment Key</th>
                    <th>KIT Type</th>
                    <th>Send by</th>
                    <th>Actions</th>




                </tr>
            </thead>
            <tbody>
                @foreach (var temp in Model)
                {
                    <tr>
                        <td>@temp.SITEID</td>
                        <td>@temp.KITSET</td>
                        <td>@temp.KITTYPE</td>
                        <td>@temp.SENDBY</td>
                        <td>
                            <div class="dropdown" id="tableOptions">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" style="background-color:transparent; color:black; border:none; content:none; font-size:large;">
                                    ⋮

                                </button>
                                <div class="dropdown-menu" style="background-color:white; align-content:center;">

                                    @*<form action="UpdateKitStatus">
                                        <input type="submit" class="btn" value="Reset to Ship" style="border:none; background-color:transparent; color:#e95420;" />
                                        <input hidden readonly value="@temp.KITSET" name="kitKey" />
                                        <input hidden readonly value="@temp.SITEID" name="SITEID" />
                                        <input hidden readonly value="@temp.KitNumber" name="KitNumber" />
                                    </form>*@
                                    <form action="ViewInventory">
                                        <input type="submit" class="btn" value="Reset to Ship" style="border:none; background-color:transparent; color:#e95420;" />
                                        <input hidden readonly value="@temp.KITSET" name="KITSET" />
                                        <input hidden readonly value="@temp.SITEID" name="SITEID" />
                                        
                                    </form>
                                </div>
                            </div>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<button onclick="window.location='@Url.Action("InventoryHome", "ProjectManagement")'" class="btn" style="background-color:#007bff">Back</button>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#aeTable').DataTable({
                "language": {
                    search: '<span class="input-group-text" id="basic-addon1" style="width:33px;height:36px;display:inline-block;padding-right:27px;position:relative;left:6px;top:1px;border-radius: 5px 0px 0px 5px;"><svg style="position:relative; bottom:2px;"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg></span>',
                    searchPlaceholder: 'Type to Search'
                },

            })
        });
    </script>

}
