@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Reportproblem

<h1 style="text-align:left; color: black;">Problem Reply</h1>
<p style="font-size: 14px">Protocol Name: @TempData.Peek("StudyName")</p>

<hr />

<form asp-action="ProblemResponse" method="post" id="myForm">
    <div>
        <div class="form-group" style="display: none">
            <label>RowKey:</label><br />
            <input asp-for="@Model.PRBLMKEY" name="PRBLMKEY" style="width:500px;" class="CustomInput" readonly />
        </div>
        <div class="form-group">
            <label>Site ID</label><br />
            <input asp-for="@Model.SITEID" name="SITEID" style="width:500px;" class="CustomInput" readonly />
        </div>
        <div class="form-group">
            <label>Subject ID</label><br />
            <input asp-for="@Model.SUBJID" name="SUBJID" style="width:500px;" class="CustomInput" readonly />
        </div>
        @*<div class="form-group">
                <label>Added By:</label><br />
                <input asp-for="@Model.ADDUSER" name="ADDUSER" style="width:500px;" class="CustomInput" readonly />
            </div>*@

        <div class="form-group">
            <label>Status<span style="color: red;"> *</span></label> <br />
            <select class="CustomInput" asp-for="@Model.PROBLEM_STATUS" name="PROBLEM_STATUS" style="width: 500px; padding: .375rem .75rem" required>
                <option value=""></option>
                <option value="Active">Active</option>
                <option value="Closed">Closed</option>
            </select>
        </div>
        <div class="form-group">
            <label>Reported By</label><br />
            <input asp-for="@Model.ADDUSER" name="ADDUSER" style="width:500px;" class="CustomInput" readonly />
        </div>

        <div class="form-group">
            <label>Date Reported</label><br />
            <input asp-for="@Model.ADDDATE" name="ADDDATE" style="width:500px;" class="CustomInput" readonly />
        </div>

        <div class="form-group">
            <label>Problem Description</label><br />
            <textarea asp-for="@Model.PROBLEM_DESC" name="PROBLEM_DESC" style="width: 700px; padding: .375rem .75rem; height: 230px;" class="CustomInput" readonly></textarea>
        </div>

        <div class="form-group">
            <label>Project Manager Comments<span style="color: red;"> *</span></label><br />
            <textarea asp-for="@Model.PM_COMM" name="PM_COMM" style="width: 700px; padding: .375rem .75rem; height: 230px;" class="CustomInput" required></textarea>
        </div>

        <br />
        <br />

    </div>
</form>
<button type="submit" form="myForm" class="btn" style="background-color: #e95420; color: white;">Update</button>
<button class="btn" onclick="cancelForm()" style="background-color: #e95420; color: white; ">Cancel</button>
<input type="button" class="btn" value="Back" onclick="window.location='@Url.Action("ProblemReply","ProjectManagement")'" style="background-color: #007bff; color: White;" />







<style>
    .form-group {
        display: inline-block;
        margin-right: 10px;
    }
</style>

<script>
    function cancelForm() {
        // Reset the form and hide the username and password fields
        document.getElementById('myForm').reset();
    }
</script>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
